ebin/**
priv/db/**
priv/log/**
*.beam
.eunit
*~
#*
.dialyzer.plt
.rebar
Mnesia**
*.log
*.dump
/logs
qlc_*
Mnesia.*/**
fprof**
_build/**
deps/**
.DS_Store*
*.gz
rel/ems-bus
rel/*.gz
rel/rpm/centos/RPMS/x86_64/**
rel/rpm/centos/BUILD/**
rel/rpm/centos/SOURCES/**
rel/rpm/centos/SOURCES/SRPMS/**
rel/rpm/centos/RPMS/x86_64/**
rel/deb/ems-bus-Debian-jessie_amd64/**
rel/deb/ems-bus-Ubuntu-xenial_amd64/**
rel/deb/ems-bus-Ubuntu-yakkety_amd64/**
rel/deb/*.deb
