%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et


{lib_dirs, ["deps"]}.
{sub_dirs, ["rel"]}.

{deps, [
	{cowboy,     		".*",  	{git, "https://github.com/ninenines/cowboy",    			"master"}},
	{jsx,     		"2.*",   	{git, "https://github.com/talentdeficit/jsx",    			"master"}},
	{poolboy, 		"1.5.1", 	{git, "https://github.com/devinus/poolboy.git",  			"master"}},
	{jiffy,     	"0.*",   	{git, "https://github.com/davisp/jiffy",   					"master"}},
	{mochiweb,     	"2.*",   	{git, "https://github.com/mochi/mochiweb.git", 				{tag, "v2.15.1"}}},
	{json_rec,     	"8c72324",  {git, "https://github.com/justinkirby/json_rec",  			"master"}},
	{oauth2,  		".*", 		{git, "https://github.com/kivra/oauth2.git",        		{tag, "0.4.1"}}},
	{erlydtl,  		".*", 		{git, "https://github.com/erlydtl/erlydtl",        			{tag, "0.12.1"}}},
	{inotify, 		".*", 		{git, "https://github.com/sheyll/inotify.git"}}
]}.

%{erl_opts, [native, {hipe, [verbose]}]}.

{relx, [
			{release, {"ems_bus", "1.0.6"}, ["ems_bus"]},
			{dev_mode, false},
			{include_erts, true},
			{extended_start_script, true}
        ]
}.

{profiles, [{dev, [{relx, [{dev_mode, true}]}]}]}.

{profiles, [{prod, [{relx, [{dev_mode, false}
                           ,{include_erts, true}]}]}]}.



