%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et
%% This is a sample rebar.conf file that shows examples of some of rebar's
%% options.

%% == Core ==

{lib_dirs, ["deps"]}.

{deps, [
	{jsx,   "2.*", {git, "https://github.com/talentdeficit/jsx", "master"}}
]}.
