%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et


{lib_dirs, ["deps"]}.

{deps, [
	{jsx,     "2.*",   {git, "https://github.com/talentdeficit/jsx",    "master"}},
	{poolboy, "1.5.1", {git, "https://github.com/devinus/poolboy.git",  "master"}},
	{jiffy,     "0.*",   {git, "https://github.com/davisp/jiffy",   	"master"}},
	{mochiweb,     "0.*",   {git, "https://github.com/basho/mochiweb",  "master"}},
	{oauth2,  ".*", {git, "https://github.com/kivra/oauth2.git",        {tag, "0.4.1"}}}
	
]}.

%%{erl_opts, [native, {hipe, [verbose]}, warnings_as_errors, debug_info]}.

{relx, [
			{release, {"ems_bus", "1.0.0"}, ["ems_bus"]},
			{dev_mode, false},
			{include_erts, true},
			{extended_start_script, true}
        ]
}.

{profiles, [{dev, [{relx, [{dev_mode, true}]}]}]}.

{profiles, [{prod, [{relx, [{dev_mode, false}
                           ,{include_erts, true}]}]}]}.



