[Unit]
Description=Erlang Port Mapper Daemon to ERLANGMS
After=network.target network-online.target

[Service]
ExecStart=/usr/bin/epmd
Type=simple
StandardOutput=journal
StandardError=journal
User=erlangms
Group=erlangms
Restart=always
RestartSec=1
LimitNOFILE=500000
LimitNPROC=500000


[Install]
WantedBy=multi-user.target
