[Unit]
Description=Barramento de serviços Erlangms
After=network.target

[Service]
Type=simple
User=erlangms
Group=erlangms
WorkingDirectory=/usr/lib/ems-bus
Restart=yes
ExecStart=/usr/lib/ems-bus/bin/ems-bus foreground

[Install]
WantedBy=multi-user.target
