[Unit]
Description=Erlang Port Mapper Daemon
After=network.target
#Requires=epmd.socket

[Service]
ExecStart=/usr/bin/epmd
Type=simple
StandardOutput=journal
StandardError=journal
User=epmd
Group=epmd
Restart=always
RestartSec=1
LimitNOFILE=500000
LimitNPROC=500000
PIDFile=/var/run/epmd.pid


[Install]
#Also=epmd.socket
WantedBy=multi-user.target
