<div class="container">
  <div class="row">
    <div class="col-sm-9">
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Sistema 1</a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <a [routerLink]="['/questao']"><h4>Questões</h4></a>
            </div>
          </div>
        </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Sistema 3</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <button class="btn btn-primary" (click)="getMenuSession()">Verificar Usuário</button>
          </div>
        </div>
      </div>
    </div>
  </div>
