.logo {
  order: 1;
  flex: 1;
  align-self: flex-start;
  text-align: left;
  background: url(/../../assets/img/logo-unb.gif) 10px center no-repeat transparent;
  height: 62px;
  margin: 0 auto;

}

.active > a,
.active > a:hover,
.active > a:focus {
  color: #FFFFFF;
  background: rgba(181, 176, 183, 0.57);
}

li > a:hover, li > a:focus {
  color: #FFFFFF;
}

.cor-branca {
  color: #FFFFFF;
}


.fundo{
  background-color: #003366;
}

.topo{
  height: 62px;
  margin: 0 auto;
  background-color: #003366;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;

}

.sistema {
  text-align: center;
  margin-left: 200px;
}

.login {
  order: 3;
  flex: 1 ;
  align-self: auto;
  text-align: center;
}
