<nav class="navbar navbar-inverse">
 <div class="fundo">
   <div>
      <div class="container">
          <div class="col-sm-8">
            <div class="logo"></div>
            <div class="sistema">
            </div>
          </div>
          <div class="col-sm-2" *ngIf="verificarUsuarioLogado()">
            <div class="login"> <h5 style="color: #FFFFFF;" class="login"> Seja vem vindo {{usuario.resource_owner.user}}! <br/>
              <a class="cor-branca" (click)="logout()">Logout</a></h5> </div>
          </div>
          <div class="col-sm-2" *ngIf="verificarUsuarioLogado()">
            <div class="login"><h5 class="cor-branca login">Tempo de sessão </h5></div>
            <p class="cor-branca" style="text-align: center;">{{this.authenticationService.time | date:"mm:ss"}}</p>
          </div>
      </div>
   </div>
  </div>
</nav>
