<nav class="navbar navbar-inverse">
 <div class="fundo">
   <div class="topo">
      <div class="container">
          <div class="col-sm-8">
            <div class="logo">Logo</div>
            <div class="sistema">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="login"> <h5 style="color: #FFFFFF;" class="login"> Seja vem vindo! <br/>
              <a class="cor-branca" (click)="logout()">Logout</a></h5> </div>
          </div>
          <div class="col-sm-2">
            <div class="login"><h5 class="cor-branca login">Tempo de sessão </h5></div>
            <p class="cor-branca" style="text-align: center;">{{timer}}</p>
          </div>
      </div>
   </div>
  </div>
</nav>
