[Unit]
Description=ems_bus
After=network.target

[Service]
Type=forking
User=agilar
Group=users
ExecStart=/var/opt/ems_bus/bin/ems_bus start

[Install]
WantedBy=multi-user.target
