[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=ems-bus
GenericName=Barramento Erlangms ems-bus
Type=Application
Exec=bash -c 'ems-bus console'
Keywords=barramento;erlang;ems-bus
Icon=
Categories=middlware;
Comment=Barramento Erlangms
Name[en_US]=ems-bus.desktop
