
<div  class="theme-blue {{controlador? 'overlay-open' : 'overlay-closed'}} ">
<!-- #END# Page Loader -->
 <!-- Overlay For Sidebars -->
 <div class="overlay " [style.display]="overlay"  ></div>
 <!-- #END# Overlay For Sidebars -->
 <!-- Search Bar -->
 <div class="search-bar">
     <div class="search-icon">
         <i class="material-icons">search</i>
     </div>
     <input id="filtro-input" type="text" onkeyup='systemFilter()' placeholder="DIGITE SUA BUSCA..."/>
     <div class="close-search">
         <i class="material-icons">close</i>
     </div>
 </div>
 <!-- #END# Search Bar -->
 <!-- Top Bar -->


<nav class="navbar">
    <div class="container-fluid header-unb">
        <div class="navbar-header unb-flag">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars" (click)="carregarBars()" ></a>
            <a class="navbar-brand link-barra" href="http://www.unb.br" target="_blank"><strong>UnB</strong></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Call Search -->
                <li><a href="javascript:void(0);" class="js-search" data-close="true"><i class="material-icons">search</i></a></li>
                <!-- #END# Call Search -->
                <!-- Notifications -->
                <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="material-icons">input</i>
                    </a>
                    <!-- <ui:insert name="login_dropdown" /> -->
                </li>
            </ul>
        </div>
    </div>
</nav>

<section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu" id= "scrollUnb">
                <ul class="list">
					{% for item in menu %}
						<li class="active" >
							<a href="#" (click)="goToPage('{{menu.name}}')">
								<i class="material-icons">{{menu.icon}}</i>
								<span>{{item.name}}</span>
							</a>
						</li>
					{% endfor %}
                </ul>
            </div>
			<div [ngSwitch]="current.name">
				{% for item in menu %}
					{% if item.component != 'false' %}
						<template [ngSwitchCase]="'{{ item.name }}'">
							{{ item.component }}
						</template>	
					{% endif %}	
				{% endfor %}
		   </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2017 <a href="javascript:void(0);">UnB | CPD</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.4
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>
</div>
