<nav class="navbar navbar-inverse subir">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{brand}}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a [routerLink]="['']"> <h4>Home</h4></a></li>
        <li><a [routerLink]="['/pessoa']"><h4>Cadastro Pessoa</h4></a></li>
        <li class="active"><a [routerLink]="['/pessoa/lista']"><h4>Lista de Pessoas</h4></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody  *ngFor="let pessoa of pessoas">
          <tr>
            <td>{{pessoa.id}}</td>
            <td>{{pessoa.nome}}</td>
           <td>
             <button class="btn btn-primary" (click)="editar(pessoa)"><i class="glyphicon glyphicon-pencil"></i></button>
             <button class="btn btn-danger"  data-toggle="modal"(click)="setPessoa(pessoa)" data-target="#myModal"><i class="glyphicon glyphicon-trash"></i></button>
             <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
               <div class="modal-dialog" role="document">
                 <div class="modal-content">
                   <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                     <h4 class="modal-title">Confimar exclusão</h4>
                   </div>
                   <div class="modal-body">
                     <p>Deseja Realmente excluir esta pessoa? {{pessoa.id}}</p>
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-primary" (click)="deletar()">Sim</button>
                     <button type="button" id="apagar" class="btn btn-default" data-dismiss="modal">Não</button>
                   </div>
                 </div><!-- /.modal-content -->
               </div><!-- /.modal-dialog -->
             </div>
           </td>
          </tr>
        </tbody>
      </table>

    </div>


  </div>
</div>
